html, body {
  background-color: #263368;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  font-family: 'Nixie One', cursive;
}

.svg {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
